{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-one-expression-per-line": [0, "never"],
    "react/prop-types": [0, "never"]
  },
  "env": {
    "browser": true
  }
}